@import "tailwindcss";


:root {
  --primary:  #00FFFF;  /* Cyan */
  --secondary: #F59E0B; /* Amber */
  --dark: #1E293B;
  --light: #F8FAFC;
}

/* Base Styles */
body {
  background-color: var(--light);
  font-family: var(--font-jakarta);
  color: var(--dark);
}


.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}







